<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel [expanded]="true" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Studies and Work
      </mat-panel-title>
      <mat-panel-description>
        <p></p><span class="material-symbols-outlined custom-icon">School</span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="panel-content">
      <mat-chip-set aria-label="Education">
        <app-chip 
          *ngFor="let item of educationItems" 
          [text]="item.text" 
          [imagePath]="item.imagePath"
          [imageAlt]="item.imageAlt"
          [color]="item.color"
          matTooltip="{{ item.tooltip }}">
        </app-chip>
      </mat-chip-set>
    </div>
  </mat-expansion-panel>
</mat-accordion>
