<div class="a4-page">
  <div class="left-column">
    <div class="profile-name">{{ name }}</div>
    <div class="profile-profession">{{ profession }}</div>

    <div class="profile-picture">
      <img src="assets/contacts/Dimi4.jpg" alt="Profile Picture" />
    </div>
    <div class="left-section">
      <div class="left-section-title">Contact</div>
      <div class="contact-item">
        <mat-icon class="contact-icon" svgIcon="mail"></mat-icon>
        {{ email }}
      </div>
      <div class="contact-item">
        <mat-icon class="contact-icon" svgIcon="location"></mat-icon>
        {{ location }}
      </div>
      <div class="contact-item">
        <mat-icon class="contact-icon" svgIcon="linkedin"></mat-icon>
        {{ linkedin }}
      </div>
      <div class="contact-item">
        <mat-icon class="contact-icon" svgIcon="github"></mat-icon>
        {{ github }}
      </div>
    </div>

    <div class="left-section">
      <div class="left-section-title">Skills</div>
      <div class="skill-bar" *ngFor="let skill of skillCategories">
        <div class="skill-name">{{ skill.name }}</div>
        <div class="skill-progress">
          <div class="skill-fill" [style.width.%]="skill.level"></div>
        </div>
      </div>
    </div>

    <div class="left-section">
      <div class="left-section-title">Languages</div>
      <div class="skill-bar" *ngFor="let lang of languages">
        <div class="skill-name">{{ lang.name }}</div>
        <div class="skill-progress">
          <div class="skill-fill" [style.width.%]="lang.level"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="right-column">
    <div class="right-section">
      <div class="section-title">Professional Summary</div>
      <p class="item-description">
        As a Senior Fullstack Developer with 10+ years of experience, I specialize in the full project lifecycle—from analysis to cloud-native deployment. I prioritize clean, reusable code and collaborative teamwork to build scalable solutions.
        By leveraging DevOps, CI/CD, and automated testing, I ensure high-quality, efficient delivery. With a background in the automotive, insurance, and public sectors, I am dedicated to finding the optimal technical solution for every business challenge.
      </p>
    </div>

    <div class="right-section">
      <div class="section-title">Work Experience</div>
      <div class="section-content">
        <div class="job-item" *ngFor="let job of jobs">
          <div class="job-header">
            <img [src]="job.icon" class="job-icon" [alt]="job.company">
            <div class="job-title-company">
              <div class="item-title-row">
                <div class="item-title">{{ job.name }}</div>
                <div class="item-date">{{ job.time }}</div>
              </div>
              <div class="item-subtitle">{{ job.company }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right-section">
      <div class="section-title">Education</div>
      <div class="section-content">
        <div class="edu-item" *ngFor="let edu of education">
          <div class="job-header">
            <img [src]="edu.icon" class="job-icon" [alt]="edu.school">
            <div class="job-title-company">
              <div class="item-title-row">
                <div class="item-title">{{ edu.title }}</div>
                <div class="item-date">{{ edu.date }}</div>
              </div>
              <div class="item-subtitle">{{ edu.school }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right-section">
      <div class="section-title">Certificates</div>
      <div class="section-content">
        <div class="cert-item" *ngFor="let cert of certificates">
          <div class="job-header">
            <img [src]="cert.icon" class="job-icon" [alt]="cert.type">
            <div class="job-title-company">
              <div class="item-title">{{ cert.type }} - {{ cert.name }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right-section">
      <div class="section-title">Technologies</div>
      <div class="hobbies-container">
        <div class="hobby-item" *ngFor="let tech of technologies">
          <mat-icon class="tech-icon" [svgIcon]="tech.iconName"></mat-icon>
          <span class="hobby-name">{{ tech.name }}</span>
        </div>
      </div>
    </div>

    <div class="right-section">
      <div class="section-title">Hobbies & Interests</div>
      <div class="hobbies-container">
        <div class="hobby-item" *ngFor="let hobby of hobbies">
          <mat-icon class="hobby-icon" [svgIcon]="hobby.iconName"></mat-icon>
          <span class="hobby-name">{{ hobby.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
