<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ job.name }}
    </mat-panel-title>
    <mat-panel-description>
      {{ job.company }}
      <img style="height: 30px" [src]="job.icon">
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-accordion class="example-headers-align" multi>
    <app-project-panel *ngFor="let project of job.projects"
                       [project]="project"></app-project-panel>
  </mat-accordion>
  <mat-action-row>
    <span>{{ job.time }}</span>
  </mat-action-row>
</mat-expansion-panel>
<br>
