<mat-chip [matBadge]="level" [matBadgeHidden]="!showLevel" [matBadgeColor]="getLevelColor()" [style]="'--mdc-chip-elevated-container-color: ' + getChipColor()">
  <mat-icon 
    matChipAvatar
    [svgIcon]="iconName" 
    aria-hidden="false" 
    aria-label="text" 
    [class]="getColorClass()"
    *ngIf="iconName; else fallbackIcon">
  </mat-icon>
  <ng-template #fallbackIcon>
    <mat-icon 
      matChipAvatar
      aria-hidden="false" 
      aria-label="text" 
      [class]="getColorClass()">help_outline</mat-icon>
  </ng-template>
  {{ text }}
</mat-chip>
