
.custom-icon {
  vertical-align: middle;
}

.filter-green {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.filter-blue {
  filter: invert(55%) sepia(90%) saturate(3066%) hue-rotate(160deg) brightness(92%) contrast(102%);
}

.filter-red {
  filter: invert(15%) sepia(44%) saturate(7394%) hue-rotate(353deg) brightness(95%) contrast(90%);
}


.filter-purple {
  filter: invert(16%) sepia(50%) saturate(6889%) hue-rotate(272deg) brightness(87%) contrast(97%);
}


.filter-yellow {
  filter: invert(88%) sepia(77%) saturate(916%) hue-rotate(355deg) brightness(107%) contrast(104%);
}

.filter-light-blue {
  filter: invert(100%) sepia(23%) saturate(5578%) hue-rotate(168deg) brightness(91%) contrast(98%);
}

.filter-dark-blue {
  filter: invert(14%) sepia(77%) saturate(4840%) hue-rotate(241deg) brightness(60%) contrast(134%);
}

.custom-img {
  height: 25px; vertical-align: middle; padding-left: 5px; cursor: pointer;
}

.rounded-corners {
  border-radius: 30px;
}
