<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Dimitri Wulffert</mat-card-title>
    <mat-card-subtitle>
      Professional Consultant

      <br>
      <br>
      <a href="https://goo.gl/maps/eBPJC4QB1hdSPuYD6"><img class="filter-yellow custom-img "
                                                           src="assets/contacts/location.svg"
                                                           matTooltip="Located in munich area"></a>
      <a href=""><img class="filter-red custom-img " src="assets/contacts/mail.svg"></a>
      <a href="https://www.linkedin.com/in/dimitri-wulffert-a63355ba/"><img class="filter-blue custom-img "
                                                                            src="assets/contacts/linkedin.svg"></a>
      <a href="https://www.xing.com/profile/Dimitri_Wulffert/cv"><img class="filter-green custom-img "
                                                                      src="assets/contacts/xing.svg"></a>
      <a href="https://github.com/DragonScarlet"><img class="filter-purple custom-img "
                                                      src="assets/contacts/github.svg"></a>
      <a href="https://hub.docker.com/u/dragonscarlet"><img class="filter-dark-blue custom-img "
                                                            src="assets/contacts/docker.svg"></a>
      <a href="https://www.codewars.com/users/DragonScarlet"><img class="filter-red custom-img "
                                                            src="assets/contacts/codewars.svg"></a>

    </mat-card-subtitle>
    <img class="rounded-corners" mat-card-md-image src="assets/contacts/Dimi3.jpg">
  </mat-card-title-group>
</mat-card>
