<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Profesional Consultant
      </mat-panel-title>
      <mat-panel-description>
        bbv Software Services GmbH
        <img style="height: 40px" src="assets/companies/bbv_Rakete.svg">
      </mat-panel-description>
    </mat-expansion-panel-header>
    Working as an IT Consultant with main focus in Full-Stack.
    <mat-action-row>
      <span>2022.10 - present</span>
    </mat-action-row>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Senior IT Consultant
      </mat-panel-title>
      <mat-panel-description>
        MSG Nexinsure
        <img style="height: 40px" src="assets/companies/msg2.png">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- Projects -->
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Component Architect
          </mat-panel-title>
          <mat-panel-description>
            2 years
          </mat-panel-description>
        </mat-expansion-panel-header>
        Worked as a Component Architect for insurance software
        company. Ensuring software follows the company technical
        requirements.
      </mat-expansion-panel>
    </mat-accordion>

    <mat-action-row>
      <span>2020.07 - 2022.09</span>
    </mat-action-row>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Senior IT Consultant
      </mat-panel-title>
      <mat-panel-description>
        Aequitas
        <img style="height: 40px" src="assets/companies/aequitas2.png">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- Projects -->
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Frontend-Backend Developer
          </mat-panel-title>
          <mat-panel-description>
            2 Years
          </mat-panel-description>
        </mat-expansion-panel-header>
        Developed and maintained insurance software using Java,
        JSF, Springboot, SQL, SOAP, xHTML, JIRA and Jenkins.
      </mat-expansion-panel>
    </mat-accordion>
    <mat-action-row>
      <span>2018.10 - 2020.06</span>
    </mat-action-row>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        IT Consultant
      </mat-panel-title>
      <mat-panel-description>
        MVI Solve IT
        <img style="height: 40px" src="assets/companies/mvi2.png">
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- Projects -->
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Frontend-Backend Developer
          </mat-panel-title>
          <mat-panel-description>
            1/2 Year
          </mat-panel-description>
        </mat-expansion-panel-header>
        Finished developing a JSF application.
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Frontend-Backend Developer
          </mat-panel-title>
          <mat-panel-description>
            2 Years
          </mat-panel-description>
        </mat-expansion-panel-header>
        Responsible for developing front and backend web
        applications using AngularJS, JQuery, HTML, CSS, SQL
        and Java. And
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tester
          </mat-panel-title>
          <mat-panel-description>
            1 Year
          </mat-panel-description>
        </mat-expansion-panel-header>
        Developed automatic and manual tests for
        VW Car-Net Japan using HP UFT and ALM.
      </mat-expansion-panel>
    </mat-accordion>


    <mat-action-row>
      <span>2015.09 - 2018.09</span>
    </mat-action-row>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Research Assistant
      </mat-panel-title>
      <mat-panel-description>
        Technische Universität Darmstadt
        <img class="filter-white" style="height: 40px" src="assets/companies/tud.svg">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Research Assistant
          </mat-panel-title>
          <mat-panel-description>
            2 Years
          </mat-panel-description>
        </mat-expansion-panel-header>
        Ported computer serious games to android using C#.
        Analyzed and represented data using IPython notebook.
      </mat-expansion-panel>
    </mat-accordion>
    <mat-action-row>
      <span>2013.09 - 2015.08</span>
    </mat-action-row>
  </mat-expansion-panel>

  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Researcher
      </mat-panel-title>
      <mat-panel-description>
        Nagaoka University of Technology
        <img style="height: 30px" src="assets/companies/nagaoka.png">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Research Assistant
          </mat-panel-title>
          <mat-panel-description>
            1 Year
          </mat-panel-description>
        </mat-expansion-panel-header>
        Developed two applications using Electromyography (EMG) sensors with unity and C++.
      </mat-expansion-panel>
    </mat-accordion>
    <mat-action-row>
      <span>2012.09 - 2013.08</span>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
