<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>

<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel [expanded]="true" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Programing Languages
      </mat-panel-title>
      <mat-panel-description>
        <p></p>
        <span class="material-symbols-outlined custom-icon">code_blocks</span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card-content>
      <mat-chip-list aria-label="ProgrammingLanguages">
        <app-chip iconName="java" text="Java" color="red"></app-chip>
        <app-chip iconName="python" text="Python" color="yellow"></app-chip>
        <app-chip iconName="javascript" text="JavaScript" color="yellow"></app-chip>
        <app-chip iconName="javascript" text="TypeScript" color="blue"></app-chip>
        <app-chip iconName="html" text="HTML" color="green"></app-chip>
        <app-chip iconName="html" text="css" color="green"></app-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-expansion-panel>
</mat-accordion>
<br>

<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel [expanded]="true" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        FrameWorks
      </mat-panel-title>
      <mat-panel-description>
        <p></p>
        <span class="material-symbols-outlined custom-icon">home_repair_service</span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card-content>
      <mat-chip-list aria-label="FrameWorks">
        <app-chip iconName="angular" text="Angular" color="red"></app-chip>
        <app-chip iconName="angular" text="AngularJs" color="red"></app-chip>
        <app-chip iconName="robot" text="Primefaces" color="blue"></app-chip>
        <app-chip iconName="leaf" text="Spring" color="green"></app-chip>
        <app-chip iconName="db" text="Hibernate" color="purple"></app-chip>
        <app-chip iconName="docker" text="Docker" color="blue"></app-chip>
        <app-chip iconName="kubernetes" text="Kubernetes" color="blue"></app-chip>
        <app-chip iconName="mockito" text="Mockito" color="purple"></app-chip>
        <app-chip iconName="cucumber" text="Cucumber" color="green"></app-chip>
        <app-chip iconName="junit" text="JUnit" color="blue"></app-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-expansion-panel>
</mat-accordion>
<br>


<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel [expanded]="true" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Data Bases
      </mat-panel-title>
      <mat-panel-description>
        <p></p>
        <span class="material-symbols-outlined custom-icon">database</span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card-content>
      <mat-chip-list aria-label="FrameWorks">
        <app-chip iconName="db" text="SQL" color="purple"></app-chip>
        <app-chip iconName="db" text="Postgres" color="blue"></app-chip>
        <app-chip iconName="db" text="DB2" color="red"></app-chip>
        <app-chip iconName="db" text="ORACLE" color="red"></app-chip>
        <app-chip iconName="db" text="MySQL" color="blue"></app-chip>
        <app-chip iconName="db" text="Mongo" color="yellow"></app-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-expansion-panel>
</mat-accordion>
<br>


<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel [expanded]="true" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tools
      </mat-panel-title>
      <mat-panel-description>
        <p></p>
        <span class="material-symbols-outlined custom-icon">construction</span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card-content>
      <mat-chip-list aria-label="FrameWorks">
        <app-chip iconName="gitkraken" text="GitKraken" color="green"></app-chip>
        <app-chip iconName="jira" text="SourceTree" color="blue"></app-chip>
        <app-chip iconName="jira" text="BitBucket" color="blue"></app-chip>
        <app-chip iconName="jira" text="Confluence" color="blue"></app-chip>
        <app-chip iconName="jira" text="Jira" color="blue"></app-chip>
        <app-chip iconName="jet" text="IntelliJ" color="purple"></app-chip>
        <app-chip iconName="jenkins" text="Jenkins" color="red"></app-chip>
        <app-chip iconName="cube" text="SonarCube" color="purple"></app-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-expansion-panel>
</mat-accordion>
<br>
