<div class="center">
  <div class="example-flex-container">
    <div class="example-button-container">
      <button mat-mini-fab [color]="getLevelColor()" aria-label="Example icon button with a bookmark icon" (click)="flipLevel()"
              matTooltip="Show skills power level in Months!" >
        <mat-icon>bolt</mat-icon>
      </button>
    </div>
    <div class="example-button-container">
      <button mat-mini-fab [color]="getRatingColor()" aria-label="Example icon button with a bookmark icon" (click)="flipRating()"
              matTooltip="Show favorite skills!">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
</div>
<br>
<app-skills-panel name="ProgrammingLanguages" icon="code_blocks" [skills]="programingLanguages()"></app-skills-panel>
<br>
<app-skills-panel name="FrameWorks" icon="home_repair_service" [skills]="frameWorks()"></app-skills-panel>
<br>
<app-skills-panel name="Data Bases" icon="database" [skills]="dataBases()"></app-skills-panel>
<br>
<app-skills-panel name="Tools" icon="construction" [skills]="tools()"></app-skills-panel>
<br>
