<div class="center">
  <div class="example-flex-container">
    <div class="example-button-container">
      <button mat-mini-fab [color]="getLevelColor()" aria-label="Example icon button with a bookmark icon" (click)="flipLevel()"
              matTooltip="Show skills power level in Months!" >
        <mat-icon>bolt</mat-icon>
      </button>
    </div>
    <div class="example-button-container">
      <button mat-mini-fab [color]="getRatingColor()" aria-label="Example icon button with a bookmark icon" (click)="flipRating()"
              matTooltip="Show favorite skills!">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
</div>
<br>
<app-skills-panel name="Programming Languages" icon="code_blocks" [skills]="programingLanguages()"></app-skills-panel>
<br>
<app-skills-panel name="Frameworks" icon="home_repair_service" [skills]="frameWorks()"></app-skills-panel>
<br>
<app-skills-panel name="Databases" icon="database" [skills]="dataBases()"></app-skills-panel>
<br>
<app-skills-panel name="Api Tools" icon="construction" [skills]="apiTools()"></app-skills-panel>
<br>
<app-skills-panel name="Cloud Services" icon="cloud" [skills]="cloudServices()"></app-skills-panel>
<br>
<app-skills-panel name="General Tools" icon="build" [skills]="generalTools()"></app-skills-panel>
<br>
<app-skills-panel name="Testing Tools" icon="bug_report" [skills]="testingTools()"></app-skills-panel>
<br>
<app-skills-panel name="Processes" icon="account_tree" [skills]="processes()"></app-skills-panel>
<br>
