<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Docker
      </mat-panel-title>
      <mat-panel-description>
        Docker & Kubernetes: The Practical Guide [2023 Edition]
        <img style="width: 40px" src="assets/companies/docker.png">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row>
      <button mat-button color="warn" (click)="navToDockerClass()">Udemy</button>
      <button mat-button color="primary" (click)="navToDockerKubeCertificate()">Certificate</button>
    </mat-action-row>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Kubernetes
      </mat-panel-title>
      <mat-panel-description>
        Docker & Kubernetes: The Practical Guide [2023 Edition]
<!--        <img src="assets/gif/totoro.gif" alt="this slowpoke moves" width="40" style="-->
<!--            -webkit-transform: scaleX(-1);-->
<!--            transform: scaleX(-1);"/>-->
        <img style="width: 40px" src="assets/companies/kubernetes.png">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row>
      <button mat-button color="warn" (click)="navToDockerClass()">Udemy</button>
      <button mat-button color="primary" (click)="navToDockerKubeCertificate()">Certificate</button>
    </mat-action-row>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular
      </mat-panel-title>
      <mat-panel-description>
        Angular - The Complete Guide (2022 Edition)
        <img style="width: 40px" src="assets/companies/angular.png">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row>
      <button mat-button color="warn" (click)="navToAngularClass()">Udemy</button>
      <button mat-button color="primary" (click)="navToAngularCertificate()">Certificate</button>
    </mat-action-row>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        AWS
      </mat-panel-title>
      <mat-panel-description>
        In Progress...
        <img src="assets/gif/totoro.gif" alt="this slowpoke moves" width="40" style="
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);"/>
        <img style="width: 40px" src="assets/companies/aws.png">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row>
      <button mat-button color="warn" (click)="navToAwsClass()">Udemy</button>
      <button mat-button color="primary" disabled>Certificate</button>
    </mat-action-row>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Clean Code
      </mat-panel-title>
      <mat-panel-description>
        In Progress...
        <img src="assets/gif/totoro.gif" alt="this slowpoke moves" width="40" style="
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);"/>
        <img style="width: 35px" src="assets/companies/clean.png">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row>
      <button mat-button color="warn" (click)="navToCleanCodeClass()">Udemy</button>
      <button mat-button color="primary" disabled>Certificate</button>
    </mat-action-row>
  </mat-expansion-panel>
  <br>
</mat-accordion>
