<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ project.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ project.time }}
        <img style="height: 30px" [src]="project.icon">
      </mat-panel-description>
    </mat-expansion-panel-header>
    {{ project.description }}
    <br>
    <br>
    <mat-chip-list aria-label="Skills">
      <app-chip *ngFor="let lan of project.skills" [iconName]="lan.icon" [text]="lan.name" [color]="lan.color"></app-chip>
    </mat-chip-list>
     </mat-expansion-panel>
</mat-accordion>
<br>

